<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Producto</title>
    <link rel="stylesheet" href="/stylesheets/eliminar.css">
</head>
<body>
    <div>
        <h3>¿Está seguro de eliminar este producto?</h3>
        <form action="/deleteprd/<%= productos.id %>" method="get">
            <h4><%= productos.nombre %></h4>
            <h4><%= productos.codigo %></h4>
            <h4><%= productos.precio %></h4>
            <h4><%= productos.marca %></h4>
            <h4><%= productos.edad %></h4>
            <h4><%= productos.descripcion %></h4>
            <button type="submit" class="btn btn-primary">Eliminar Producto</button>
        </form>
    </div>
</body>
</html>